
# Created by https://www.gitignore.io/api/godot

### Godot ###

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# p4u specific ignores
__pycache__/
*~
*.pyc
# End of https://www.gitignore.io/api/godot
